html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#screen{
  background-color: black;
  width: 100%;
  height: 35px;
  margin-bottom: 1rem;
  color: white;
  text-align: right;
  font-size: 18px;
}

#bodyCalculadora{
width: 200px;
height: 270px;
text-align: center;
}

button{
width: 3rem;
height: 3rem;
border:whitesmoke;
}

#suma, #resta, #multiplicar, #dividir {
  background-color: rgb(84, 197, 225);
}

#clear{
  background-color: brown;
  color: white;
}

#solve {
  margin-top: 1rem;
  margin-right: 5px;
}
